body {
  color: #507298;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 100px 100px;
background-color: #EC173A;
}

h1 {
  font-size: 60px;
  margin: 0px;
}

h2 {
  line-height: 25px;
  font-size: 25px;
}


#grey-button {
  background-color: #474855;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}


.container {
  width: 500px;
  margin: 0px auto;
}

#profilepic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 20px 20px 3px #6eacbf;
}

.card {
  text-align: center;
  background-color: lightblue;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 20px 20px 3px #6eacbf;
  margin-top: 20px;
}

.links {
  text-align: center;
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 20px 20px 3px #6eacbf;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
  display: block;
  font-size: 30px;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

